
// .posting
#add-post-button
  margin: 10px
  button
    radius = 80px
    width: radius
    height: radius
    font-size: 400%

#edit-post
  *
    font-size: 120%
  .post-category
    display: inline
    // min-width: 100px
    margin-bottom: 10px
  .more-menu
    float: right
    display: inline
    i
      color: black
  .post-title
    margin-top: 10px
    // textarea // FIXME: no use here, seems because of overrides
    //   padding: 10px
  .post-body
    margin-bottom: 10px
  .post-attachment
    // float: left
    button
      border: none


// .ant-modal
//   z-index: 2000 !important


// #edit-post .post-title textarea
//   border: none !important
// #title-input > textarea
//   border: none !important
// .ant-input
//   border: none !important
// #edit-post > div.post-title > span > .ant-input
//   border: none !important

