.login-container
  width: 100%
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  .panel
    margin-top:10%
    .panel-heading
      margin-bottom: 5%
      font-size: 400%
    .panel-body
      margin: 2% 0%
      width: 100%
      .login-info
        margin: 2% 0%
        .input
          width: 100%
          margin: 3%  0%
      .login-option
        font-size: 130%
        margin: 3% 0
        display: flex
        justify-content: flex-end
      .login-confirm
        width: 100%
        button
          width: 100%
    .panel-footer
      font-size: 130%
      width: 100%
      background-color: #F6F6F6


