interval = 24px
.topbar
  display: flex
  justify-content: space-between
  font-size: 150%
  .left
    display: inline-block
    .btn
      display: inline-block
      margin: 15px interval
    .brand
      padding-right: interval
      display: inline-block
      border-right: solid 1px #E8E8E8
    .current-page-content
      padding: 0 interval
      display: inline-block
    .search-box
      display: inline-block
      position relative
      top: -3px
      span.ant-input-preSuffix-wrapper
        width: 350% !important
        // overflow: hidden
  .right
    display: inline-block
    .notification
      margin: 15px interval
    