interval = 24px
.topbar
  display: flex
  // justify-content: space-between
  align-items: center
  width: 100%
  padding: 15px
  font-size: 200%
  background-color: #FFFFFF
  box-shadow: 0 1px 8px rgba(0,0,0,.3)
  .left
    width: 85%
    display: flex
    align-items: center
    .btn
      display: inline-block
      margin-left: 15px
      margin-right: interval
      float: left
      cursor: pointer
    // .text
    //   float: left
    //   cursor: default
    .brand
      padding-right: interval
      float: left
      display: inline-block
      border-right: solid 1px #E8E8E8
      @media (min-width: 0px) and (max-width: 768px)
        display: none
    .current-page-content
      padding: 0 interval
      float: left
      display: inline-block
    .search-box
      float: left
      display: inline-block
      font-size: 60%
      width: 70% !important
      // overflow: hidden
  .right
    width: 15%
    float: right
    display: inline-block
    .notification
      float: right
      cursor: pointer
      @media (min-width: 0px) and (max-width: 768px)
        display: none
      // display: inline-block
      margin-right: interval
    .logout
      margin-right: 15px
      display: inline-block
      float: right
      position: relative
      top: -4px
.ant-popover
  width: 10%
  .ant-popover-buttons
    @media (min-width: 768px)
      display: flex !important
      justify-content: space-between !important
      flex-wrap: wrap !important




// @media (min-width: 0px) and (max-width: 768px)
//   .small-remove
//     display: none

// @media (min-width: 768px)
//   span.ant-input-preSuffix-wrapper
//       width: 100% !important