.home
  // font-size: 200%
  width: 100%
  .posts-container
    display: flex
    justify-content: space-around
    .flow
      display: inline-block
      // justify-content: center
      // align-items: center
      max-width: 500px
      min-width 300px
      .post-wrapper
        width: 100%
        padding: 20px
        display: inline-block
        float: left
        cursor: pointer
  .loading
    display: inline-block
    float: left
    width: 100%
    padding: 20px
    text-align: center
    font-weight: bolder