.home
  width: 100%
  .posts-container
    .post-wrapper
      padding: 20px
      display: inline-block
      float: left
      cursor: pointer
  .loading
    display: inline-block
    float: left
    width: 100%
    padding: 20px
    text-align: center
    font-weight: bolder