.card-container
  .card-content
    margin-bottom: 10px
    .text
      margin-bottom: 10px
    .img
      marigin-bottom: 10px
  .card-footer
    .others-comments
      // padding-bottom: 10px
      margin-bottom: 10px
      .more
        padding-bottom: 10px
        margin-bottom: 10px
      .preview
        margin-top: 10px
        .comment
          margin-bottom: 5px
          .username
            font-weight: bolder
      .total-comments
        border-top: 1px solid #ddd
        padding-top: 10px
        .comment
          // display: inline-block
          // height: 40px
          margin-bottom: 8px
          .username-wrapper
            .username
              font-weight: bolder
          .interactive
            margin-top: 2px
            a
              margin-right: 10px
              &:active
                color: #FF2730
    .draft-editor
      .before-input
        .input
          width: 60%
          display: inline-block
        .like
          margin-right: 5%
          padding-left: 3%
          float: right
          width: 25%
          display: inline-block
          float: right
        .share
          float: right
          width: 10%
      .inputting
        .input
          margin-bottom: 7px
        .to-do
          float: right
          .option
            width: 40px
            display: inline-block
            cursor: pointer
.active
  color:#FF2730
// .ant-modal
//   z-index: 2000 !important
// .ant-dropdown
//   z-index: 100 !important
