.ant-popover
  width: 13%  !important
  display: inline-block
  .ant-popover-buttons
    @media (min-width: 768px)
      display: flex !important
      justify-content: space-between !important
      flex-wrap: wrap !important