.sidebar
  display: inline-block
  // margin-top: 30px !important
  display: inline-block
  ul
    margin-top: 15px
    margin-right: 0px !important
    background-color: #F1F1F1
    li
      padding-bottom: 50px  !important
      padding-top: 10px  !important
      // padding-right: 0px !important
      i
        font-size: 130%
        margin-right: 20px !important
        margin-left: 10px !important
      span
        font-size: 130%
  // .content
  //   background-color: #F1F1F1
  //   border-bottom-width: 1px
  //   border-bottom-style: solid;
  //   border-bottom-color: #E8E8E8
  //   margin-top: 15px
  //   margin-right: 0px !important
  // .system-setting
  //   background-color: #F1F1F1

@media (min-width: 0px) and (max-width: 768px)
  .small-remove
    display: none